@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Geologica', sans-serif;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 32px;
    margin: 20px 0;
}
p{
    font-size: 18px;
    font-weight: 100;
    color: #a7a6a6;
    margin: 12px 0;
}
.fa{
    font-size: 40px;
}
.btn{
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 25px;
    color: #3a3a3a;
    background: #59ff17;
    margin-top: 20px;
    transition: 0.3s;
}
.btn:hover{
    color: #fff;
    background: #38ad0a;
}
.title{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}


.banner{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #0000000a, #000000) ,url(img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content>h1{
    color: #fff;
}
.banner-content>p{
    color: #ccc;
}
.banner-content{
    width: 60%;
    text-align: center;
}


.today{
    padding: 5%;
}
.today-items{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    margin:20px 5px;

}
.today-items>.item{
    /* border: 1px solid; */
    padding: 30px;
    border-radius: 10px;
    background: #0001;
}
.active{
    border: #41c20f 1px solid;
    box-shadow: inset #59ff1708 20px 20px 50px, inset #59ff1708 -20px -20px 50px;
    color: #38ad0a;
}
#inp{
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #80808031;
}
.input-fild{
    text-align: center;
}


.donate-plan{
    padding: 5%;
}
.plan-items{
    display: flex;
    justify-content: space-around;

}
.plan-items>.item{
    margin: 20px;
    padding:30px 20px;
    /* box-shadow: #1c1c1c 5px 6px 15px; */
}
.plan-items>.item:nth-child(1){
    background: #fc818177;
}
.plan-items>.item:nth-child(2){
    background: #81fc9177;
}
.plan-items>.item:nth-child(3){
    background: #81f4fc77;
}


.message{
    padding: 5%;
    display: flex;
    align-items: center;
}
.msg-content{
    width: 50%;
}
.msg-img{
    width: 50%;
}
.msg-img img{
    width: 100%;
}


.girl{
    padding: 5%;
    display: flex;
    align-items: center;
}
.girl-img{
    width: 50%;
}
.girl-img img{
    width: 80%;
    margin: 0 auto;
}
.girl-content{
    width: 50%;
    padding: 10px;
}

.men{
    padding: 5%;
    display: flex;
    align-items: center;
}
.men-content{
    width: 50%;
}
.men-img{
    width: 50%;
}
.men-img img{
    width: 100%;
}